bootRE/boot.elf
recovery.img
boot.img
cust/app/customized/partner-com.eg.android.AlipayGphone_23/partner-com.eg.android.AlipayGphone_23.apk
system_ext/priv-app/Settings/Settings.apk
system_ext/apex/com.android.vndk.v30.apex
product/data-app/MiShop/MiShop.apk
product/data-app/Health/Health.apk
product/data-app/MIUIYoupin/MIUIYoupin.apk
product/data-app/MIMediaEditor/MIMediaEditor.apk
product/data-app/SmartHome/SmartHome.apk
product/app/MiGameService_8450/MiGameService_8450.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/app/VoiceAssistAndroidT/VoiceAssistAndroidT.apk
product/priv-app/MIUIBrowser/MIUIBrowser.apk
product/priv-app/MIUIMusicT/MIUIMusicT.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/MiuiExtraPhoto/MiuiExtraPhoto.apk
product/priv-app/MiuiCamera/MiuiCamera.apk
