boot.img
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/app/VoiceAssistAndroidT/VoiceAssistAndroidT.apk
product/app/AiasstVision/AiasstVision.apk
product/app/MiGameService_8450/MiGameService_8450.apk
product/app/Biometric/Biometric.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/MIUIMusicT/MIUIMusicT.apk
product/priv-app/MIUIBrowser/MIUIBrowser.apk
product/priv-app/MiuiCamera/MiuiCamera.apk
product/priv-app/MIUIAICR/MIUIAICR.apk
product/priv-app/MiuiExtraPhoto/MiuiExtraPhoto.apk
product/data-app/MIUIYoupin/MIUIYoupin.apk
product/data-app/MiShop/MiShop.apk
product/data-app/SmartHome/SmartHome.apk
product/data-app/Health/Health.apk
product/data-app/MIMediaEditor/MIMediaEditor.apk
modem.img
bootRE/boot.elf
system_ext/priv-app/Settings/Settings.apk
system_ext/apex/com.android.vndk.v30.apex
recovery.img
