## wait load_bpf_programs finish
# on late-init
#    mkdir /mnt/bpfframework 0775 root system
#    restorecon_recursive /mnt/bpfframework

on property:sys.boot_completed=1
    chmod 0755 /sys/kernel/tracing
    chmod 0777 /sys/kernel/tracing/kprobe_events
    chmod 0777 /sys/kernel/tracing/uprobe_events
    setprop sys.miui_bpf_ready 1

service miuibpfservice /system_ext/bin/miuibpfservice
    user root
    group system cache log everybody
    disabled
    socket miuibpfdispatcher stream 0666 root system
