service miuitcptracker /system_ext/bin/miuitcptracker
	class main
	user root
	group root system
	disabled
	seclabel u:r:bpfloader:s0
	rlimit memlock 1073741824 1073741824
	# TODO need to talk
	oneshot

on property:persist.sys.miuitcptracker.ctrl=true
    start miuitcptracker
on property:persist.sys.miuitcptracker.ctrl=false
    stop miuitcptracker